@font-face {
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter_28pt-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
}