$font: "Inter", sans-serif;

$accent: #D40000;
$light: #FFFFFF;
$dark: #232326;
$gray: #F3F2F0;
$grayWithOpacity: #C9C9C8;

$letterDistance: 150%;

$tr: .3s;

$r_desk_full_over: 1600px;
$r_desk_full: 1500px;
$r_desk_wxga: 1366px;
$r_desk: 1024px;
$r_tab: 768px;
$r_mobile_600: 600px;
$r_mobile_500: 500px;
$r_mobile_400: 400px;
$r_mobile_360: 360px;